*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#mainDiv{
    width: 100%;
    height: 100vh;
    display: flex;  
    justify-content: center;
    align-items: center;
    .btn{
        height: 200px;
        width: 50px;
        margin:10px;
        border:none;
        background-color: antiquewhite;
        &:hover{
            background-color: rgb(121, 120, 119);
        }
    }
    #swipper{
        width: 500px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .imgDiv{
            width: 100%;
            height: 400px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .textDiv{
            .nameH1{
                font-size: 45px;
                font-family: monospace;
            }
        }

    }
    
}